.mainImageComponent {
  margin: 0 auto;
  padding: 30px 150px 0px 150px;
}

.mainImageComponent .slick-slide {
  display: flex !important;
  justify-content: center;
}

.mainImageComponent img {
  width: auto;
  height: 500px;
  max-width: 100%;
  display: block; /* 이미지를 블록 요소로 설정 */
}